.v-sidebar-menu {
    background: transparent;
}

.v-sidebar-menu .vsm--item {
    font-size: 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.v-sidebar-menu .vsm--dropdown .vsm--item {
    border-bottom: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.v-sidebar-menu .vsm--link {
    outline: none;
    width: 100%;
    height: 60px;
    padding-left: 30px;
    line-height: 54px;
}

.v-sidebar-menu.vsm_expanded .vsm--item_open .vsm--link_level-1 {
    background-color: #3e61dc;
}

.vsm--title {
    font-size: 16px;
    line-height: 60px;
    color: #fff;

}

.vsm--link_level-2 .vsm--title {
    font-size: 14px;
    line-height: 4.3em;

}

.v-sidebar-menu .router-link-exact-active,
.v-sidebar-menu .router-link-active {
    background-color: #3e61dc;
    color: #fff;
}

.v-sidebar-menu .vsm--link_level-2.vsm--link_exact-active,
.v-sidebar-menu .vsm--link_level-2.vsm--link_active,
.v-sidebar-menu .vsm--link_level-2.vsm--link_hover,
.v-sidebar-menu .vsm--link_level-2.vsm--link_hover,
.router-link-active.vsm--link.vsm--link_level-2 {
    background-color: transparent;
}

.v-sidebar-menu .vsm--link_level-2.vsm--link_exact-active span,
.v-sidebar-menu .vsm--link_level-2.vsm--link_active span,
.v-sidebar-menu .vsm--link_level-2.vsm--link_hover span,
.v-sidebar-menu .vsm--link_level-2.vsm--link_hover span,
.router-link-active.vsm--link.vsm--link_level-2 span {
    color: #6c8dff;
}

.v-sidebar-menu .vsm--arrow:after {
    content: url("../images//bg_nav_down.png") !important;
}